@model AlexGuitarsShop.Domain.ViewModels.CatalogViewModel;

@{
    ViewData["Title"] = "Catalog";
}

<div class="catalog-page-container">
    <div class="catalog-page-background-container">
        <div class="catalog-content">
            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <div class="add-button">
                    <a class="add-button-content" asp-controller="Catalog" asp-route-id="0" asp-action="AddOrUpdate">
                        <strong>+ Add new</strong>
                    </a>
                </div>
            }
            @if (Model.Guitars.Count > 0)
            {
                <div class="guitars-container">
                    @foreach (var guitar in Model.Guitars)
                    {
                        <div class="model-container">
                            <div class="image-container">
                                @if (guitar.Image == null)
                                {
                                    <img class="guitar-img" src="/images/guitar-logo.jpg" alt="Guitar"/>
                                }
                                else
                                {
                                    <img class="guitar-img" src="data:image;base64,@Convert.ToBase64String(guitar.Image)" alt="Guitar"/>
                                }
                            </div>
                            <div class="model-info-container">
                                <h2 class="name">@guitar.Name</h2>
                                <p class="price">$ @guitar.Price.ToString()</p>
                                <p class="description">@guitar.Description</p>
                                <div class="model-buttons-container">
                                    <a class="add-button-content" asp-controller="Catalog" asp-action="AddToCart" asp-route-prodId="@guitar.Id">
                                        Add to Cart
                                    </a>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a class="change-button" asp-controller="Catalog" asp-route-id="@guitar.Id" asp-action="AddOrUpdate">
                                            Change
                                        </a>
                                        <a class="delete-button" asp-controller="Catalog" asp-action="Delete" asp-route-id="@guitar.Id">
                                            Delete
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="paginator-container">
                        <div class="paginator">
                            <a class="border-page-number" href="#">[ </a>
                            @for (int i = 1; i < Model.PageCount + 1; i++)
                            {
                                if (i == Model.CurrentPage)
                                {
                                    <a class="current-page-number" href="#"> @i</a>
                                }
                                else
                                {
                                    <a class="page-number" asp-controller="Catalog" asp-route-pageNumber="@i" asp-action="Index">@i</a>
                                }
                            }
                            <a class="border-page-number" href="#"> ]</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h1 class="empty-list-container">Catalog is empty</h1>
            }
        </div>
    </div>
</div>