@using AlexGuitarsShop.DAL.Models
@model AlexGuitarsShop.DAL.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="cart-page-container">
    <div class="cart-page-background-container">
        @if (Model.Products.Count == 0)
        {
            <div class="notification-header">
                <h1>Cart is empty</h1>
            </div>
        }
        else
        {
            <div class="cart-content">
                @foreach (CartItem cartProduct in Model.Products)
                {
                    <div class="cart-item-container">
                        <div class="cart-image-container" id="part">
                            <img class="cart-guitar-img" src="data:image;base64,@Convert.ToBase64String(cartProduct.Product.Image)" alt="Guitar"/>
                        </div>
                        <div class="cart-item-info-container" id="part">
                            <div>
                                <p class="name">@cartProduct.Product.Name</p>
                            </div>
                            <div>
                                <p class="cart-price">$ @cartProduct.Product.Price.ToString()</p>
                            </div>
                            <div class="calculator">
                                <span class="part">
                                    <a class="minus-button" asp-controller="Cart" asp-route-id="@cartProduct.Product.Id" asp-action="Decrement">
                                        <strong>-</strong>
                                    </a>
                                </span>
                                <span class="part">
                                    <input type="text" value="@cartProduct.Quantity" size="1" readonly/>
                                </span>
                                <span class="part">
                                    <a class="plus-button" asp-controller="Cart" asp-route-id="@cartProduct.Product.Id" asp-action="Increment">
                                        <strong>+</strong>
                                    </a>
                                </span>
                            </div>
                            <div class="total-container">
                                <h3>Total : @(cartProduct.Quantity * cartProduct.Product.Price)</h3>
                            </div>
                        </div>
                        <div class="remove-button-container" id="part">
                            <a class="remove-button" asp-controller="Cart" asp-route-id="@cartProduct.Product.Id" asp-action="Remove">
                                <strong>Remove</strong>
                            </a>
                        </div>
                    </div>
                }
                <div class="add-button">
                    <a class="add-button-content" asp-controller="Cart" asp-action="Order">
                        <strong>Order</strong>
                    </a>
                </div>
            </div>
        }
    </div>
</div>