@model AlexGuitarsShop.ViewModels.PaginatedListViewModel<AlexGuitarsShop.DAL.Models.Guitar>;

@{
    const string textTitle = "Catalog";
    ViewData["Title"] = textTitle;
}

<div class="catalog-page-container">
    <div class="catalog-page-background-container">
        <div class="catalog-content">
            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <div class="add-button">
                    <a class="add-button-content" asp-controller="Guitar" asp-action="Add">
                        <strong>+ Add new</strong>
                    </a>
                </div>
            }
            @if (Model.List.Count > 0)
            {
                <div class="guitars-container">
                    @foreach (var guitar in Model.List)
                    {
                        if (guitar == null) throw new ArgumentNullException(nameof(guitar));
                        <div class="model-container">
                            <div class="image-container">
                                @if (guitar.Image == null)
                                {
                                    <img class="guitar-img" src="/images/guitar-logo.jpg" alt="Guitar"/>
                                }
                                else
                                {
                                    <img class="guitar-img" src="data:image;base64,@guitar.Image" alt="Guitar" />
                                }
                            </div>
                            <div class="model-info-container">
                                <h2 class="name">@guitar.Name</h2>
                                <p class="price">$ @guitar.Price.ToString()</p>
                                <p class="description">@guitar.Description</p>
                                <div class="model-buttons-container">
                                    <a class="add-button-content" asp-controller="Cart" asp-route-id="@guitar.Id"
                                       asp-route-currentPage="@Model.CurrentPage" asp-action="Add">
                                        Add to Cart
                                    </a>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a class="change-button" asp-controller="Guitar" asp-route-id="@guitar.Id" asp-action="Update">
                                            Change
                                        </a>
                                        <a class="delete-button" style="cursor: pointer" onclick="showMessage(@guitar.Id, '@guitar.Name')">
                                            Delete
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @Html.Partial("_Pagination", Model)
                </div>
            }
            else
            {
                <div class="notification-header">
                    <h1>Catalog is empty</h1>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_Popup")

<script>
function showMessage(route_id, guitar_name) {
    $('.popup-bg').fadeIn(800);
    $('html').addClass('no-scroll');
    $('.popup-message').text('Do you want to delete ' + guitar_name + '?');
    $('.confirm-popup').attr('href', '/Guitar/Delete/' + route_id);                  
}
</script>